<div class="row container body-content">
    <div class="full">
        <div class="skygradient">
            <div class="clouds">
                <div class="logo-cloud cloud"></div>
                <div class="top-left-cloud cloud"></div>
                <div class="bottom-left-cloud cloud"></div>
                <div class="bottom-center-cloud cloud"></div>
                <div class="top-right-cloud cloud"></div>
                <div class="text-cloud">
                    <div class="ground-school-cloud cloud"></div>
                    <div class="cloud-text">Ground school in the cloud</div>
                </div>
            </div>
            <div class="hero-body">
                <h2>
                    Welcome to the best <span class="bold">aviation training</span> library on the planet
                </h2>
                <p>
                    Get your ground training up to speed with our interactive ground school in the cloud
                </p>
            </div>
        </div>
    </div>
</div>