@Html.Partial("_HeroIndex")

<div class="row full center courses-container">
    <div class="row three-fourths center courses-header">
        <h1>What certificate are you working towards?</h1>
        <h6>
            Interactive online ground school to help you learn
            everything you need for you license or rating
        </h6>
    </div>
    <div class="row space-around courses">
        <div class="column third medium-full ppl course">
            <div class="ppl-course-top">
                <img src="~/Images/ppl-icon.png" />
            </div>
            <div class="course-body">
                <img class="four-fources-icon" src="~/Images/Cessna-arrows.png" />
                <h3 class="private heading">Private Pilot</h3>
                <h6 class="course-subheading">Where every journey begins</h6>
                <div class="course-list">
                    <h6>What you will learn:</h6>
                    <ul>
                        <li>Everything you need to pass the FAA written exam</li>
                        <li>Step-by-step examples on how to perform all of the required maneuvers like a pro</li>
                        <li>Aerodynamics, navigation, aircraft systems, aviation weather and more</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="column third medium-full ipl course">
            <div class="ipl-course-top">
                <img src="~/Images/ipl-icon.png" />
            </div>
            <div class="course-body">
                <img class="instruments-icon" src="~/Images/Instruments.png" />
                <h3 class="instrument heading">Instrument Pilot</h3>
                <h6 class="course-subheading">Your training to the next level</h6>
                <div class="course-list">
                    <h6>What you will learn:</h6>
                    <ul>
                        <li>Everything you need to pass the FAA written exam</li>
                        <li>Step-by-step examples on how to perform all of the required maneuvers like a pro</li>
                        <li>Aerodynamics, navigation, aircraft systems, aviation weather and more</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="columnn third medium-full cpl course">
            <div class="cpl-course-top">
                <img src="~/Images/cpl-icon.png" />
            </div>
            <div class="course-body">
                <img class="shades-icon" src="~/Images/Sunglasses.png" />
                <h3 class="commercial heading">Commercial Pilot</h3>
                <h6 class="course-subheading">The only office with a view</h6>
                <div class="course-list">
                    <h6>What you will learn:</h6>
                    <ul>
                        <li>Everything you need to pass the FAA written exam</li>
                        <li>Step-by-step examples on how to perform all of the required maneuvers like a pro</li>
                        <li>Aerodynamics, navigation, aircraft systems, aviation weather and more</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row full benefits-container">
    <div class="row full center benefits-body">
        <div class="column fourth medium-half small-full books-container">
            <div class="benefit books">
                <img src="~/Images/book-icon.png" />
                <h3>No Books</h3>
                <p>
                    Books? Where we're going we don't need books.
                    With our comprehensive ground school in the cloud,
                    you won't need to purchase anything beyond your subscription.
                    We've got everything you need for your ground training right here in the cloud.
                </p>
            </div>
        </div>
        <div class="column fourth medium-half small-full dvd-container">
            <div class="benefit dvd">
                <img src="~/Images/dvd-icon.png" />
                <h3>No DVDs</h3>
                <p>
                    Not that there's anything wrong with DVDs, but . . . lets be honest.
                    Most students just "watch" their DVDs while doing other things. Trust us,
                    we'll help you learn to fly fast than Angry Birds would anywawy.
                </p>
            </div>
        </div>
        <div class="column fourth medium-half small-full technology-container">
            <div class="benefit technology">
                <img src="~/Images/devices-icon.png" />
                <h3>Current Tech</h3>
                <p>
                    We've desinged out couse content to include mobile and tablet apps
                    that we know you're actually going to use when you fly. Why learn some archaic
                    method from the 70's just because the past generation did. Your training
                    shouldn't be left in the dust of technology
                </p>
            </div>
        </div>
        <div class="column fourth medium-half small-full your-plane-container">
            <div class="benefit your-plane">
                <img src="~/Images/plane-circle-icon.png" />
                <h3>Your Plane</h3>
                <p>
                    Glass or steam guages? Cessna, Piper, Cirrus or Technam? Our ground school
                    in the cloud lets you choose from the most common makes and models of training
                    aircraft, so your training is targetted, focused, and effecient—there's no fast
                    way to learn.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row full center pricing-container">
    <div class="row three-fourths center pricing-body">
        <h1>Pricing plans to suit your needs and keep you on budget</h1>
    </div>
    <div class="row full center selling-points">
        <div class="column third small-full selling-point">
            <div class="selling-point-body">
                <img src="~/Images/white-lock-icon.png" />
                <h3>Unlimted Access</h3>
                <p>
                    Learn what you want from any of our courses at any time <span>(does not apply to single course license)</span>.
                </p>
            </div>
        </div>
        <div class="column third small-full selling-point">
            <div class="selling-point-body">
                <img src="~/Images/white-speed-icon.png" />
                <h3>Interactive Courses</h3>
                <p>
                    Fun and interesting courses to keep you fully engaged and eager to learn.
                </p>
            </div>
        </div>
        <div class="column third small-full selling-point">
            <div class="selling-point-body">
                <img src="~/Images/mobile-devices-icon.png" />
                <h3>Mobile Learning</h3>
                <p>
                    Learn on-the-go with your tablet or mobile device and pick up where you left off.
                </p>
            </div>
        </div>
    </div>
    <div class="row full center pricing-plans">
        <div class="column third medium-full monthly plan">
            <ul>
                <li class="title">Monthly Plan</li>
                <li class="price">$29</li>
                <li class="point">Pay for what you need, only when you need it</li>
                <li class="point">Cancel any time you'd like without hassle</li>
                <li class="point">Resume payments when you're ready to start your next course</li>
                <li class="point"><button class="sign-up">Sign Up Now</button></li>
            </ul>
        </div>
        <div class="column third medium-full yearly plan">
            <ul>
                <li class="title">Yearly Plan</li>
                <li class="price">$299</li>
                <li class="point">Year-long access to all courses and content</li>
                <li class="point">Great for those completing multiple courses in a year</li>
                <li class="point">Great for college aviation students, CFIs, AGIs, and employees who need training</li>
                <li class="point"><button class="sign-up">Sign Up Now</button></li>
            </ul>
        </div>
        <div class="column third medium-full single plan">
            <ul>
                <li class="title">Single Course License</li>
                <li class="price">$89</li>
                <li class="point">Six months access to a single course at a discounted price</li>
                <li class="point">Best value if you only need one course at a time and will take 4-6 months to complete</li>
                <li class="point">Great for those who are not in a rush to complete a license</li>
                <li class="point"><button class="sign-up">Sign Up Now</button></li>
            </ul>
        </div>
    </div>
</div>