$black: #333333;
$lightGray: #F2F2F2;
$lightestText: #BDBDBD;
$lighterGrayText: #999;
$darkerGrayText: #777;
$darkGray: #808080;
$white: #FFFFFF;

$red: #C9025C;

$lightGreen: #B8E10B;
$darkGreen: #B9D309;

$darkBlue: #0071BC;
$lightBlue: #29ABE2;

$darkOrange: #F7931C;
$lightOrange: #FBA401;


/* course subheading text colors */
$courseListSubHeadingTextColor: $darkGray;
$courseListH6TextColor: $darkerGrayText;
$courseListTextColor: $lighterGrayText;

/* Open Sans font weights */
$thin: 100;
$normal: 400;
$semibold: 600;
$bold: 700;

/* gride size variables */
$largeGrid: 1200px;
$mediumGrid: 999px;
$smallGrid: 767px;